#section1 {
    display: flex;
    padding: 0 50px;
}

#section1 .section-left {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    width: 100%;
    color: #a69ed7;
}

#section1 .section-left .section-title {
    font-size: 2.7em;
    font-weight: 700;
    white-space: nowrap;
    line-height: 2;
}

#section1 .section-left .section-description {
    font-size: 1.3em;
    line-height: 1.1;
}

#section1 .section-left .section-title,
#section1 .section-left .section-description {
    list-style-type: none;
    transform: translateY(-80px);
}

#section1 .scroll-button {
    position: absolute;
    left: 50%;
    bottom: 2vh;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    background-color: #a69ed7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;
    width: fit-content;
    z-index: 5;
}

#section1 button:hover {
    background-color: #8e85b5;
}

#section1 .stages {
    position: absolute;
    left: 50%;
    bottom: 13vh;
    height: 18vh;
    width: 80vw;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    /* border: 5px solid #a69ed7; */
    padding: 25px;
    cursor: pointer;
    transform: translateY(2em) translateX(-50%);
    transition: transform 0.3s ease;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 2;
}

#section1 .stages .stages-title {
    font-size: 1.8em;
}


#section1 .stages .stages-mini-title {
    font-size: 1.2em;
}

#section1 .stages .stages-description-container {
    display: flex;
    align-items: center;
}

#section1 .section-right {
    flex: 1;
    padding: 20px;
}

#section1 .section-right .socrates-container {
    width: 100%;
}

#section1 .section-right .socrates-container img {
    width: 100%;
    height: auto;
}

#section1 .laurel {
    position: absolute;
    left: 50%;
    bottom: 10vh;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    z-index: 1;
}