#header {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 999px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 20px 0px;
    z-index: 9999;
    background-color: white;
}

#header .tag-containers {
    display: flex;
    padding: 8px;
    position: relative;
}

#header .tag-containers .border-tag {
    position: absolute;
    border-radius: 999px;
    border: 2px solid #5b6ab0;
    transition: all 0.3s linear;
}

#header .tag-container {
    padding: 6px 18px;
    cursor: pointer;
}

#header .tag-container p {
    color: rgb(158, 158, 158);
    transition: all 0.3s ease-in-out;
}

#header .tag-container:hover p {
    color: #5d6ea7;
}

#header .tag-container.focusHeader p {
    color: #2e375e;
    transform: scale(1.25) translateY(-1px);
}