:root {
  /* background-color: #fff7ef; */
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  transition: all 0.25s;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}